<section>
  <div class="flex gap-2 mb-4 items-center">
    <h2 class="text-green-500">About Me</h2>
  </div><p>
    I am 21 years old and since I was 17 I have been interested in programming.
    I like to create tools and applications looking for best practices and the
    most efficient ways to develop functionalities. <br /><br />I started
    studying <span>JavaScript</span>, <span>HTML</span> y <span>CSS</span>,
    switch to using <span>React</span>, then I learned a little of <span
      >MySQL</span
    > and, developing different projects, I learned <span>MongoDB</span>. At the
    same time I learned to use <span>NodeJS</span> y <span>Express</span>.
  </p>
</section><style>
  p {
    font-size: 0.9rem;
    color: #666;
  }
  span {
    color: rgb(34 197 94);
    font-weight: 600;
  }
</style>
