---
import ItemSkill from "../components/ItemSkill.astro";
---

<section>
  <h2>Skills</h2>
  <ul>
    <ItemSkill>JavaScript</ItemSkill>
    <ItemSkill>React</ItemSkill>
    <ItemSkill>Next.js</ItemSkill>
    <ItemSkill>Astro</ItemSkill>
    <ItemSkill>HTML</ItemSkill>
    <ItemSkill>HTMX</ItemSkill>
    <ItemSkill>CSS</ItemSkill>
    <ItemSkill>Tailwind CSS</ItemSkill>
    <ItemSkill>Node.js</ItemSkill>
    <ItemSkill>MongoDB</ItemSkill>
    <ItemSkill>MySQL</ItemSkill>
    <ItemSkill>Netlify</ItemSkill>
    <ItemSkill>Git</ItemSkill>
  </ul>
</section>

<style>
  h2 {
    margin-bottom: 1rem;
  }
  ul {
    display: flex;
    gap: 0.7rem;
    flex-wrap: wrap;
  }

  h2 {
    color: #ff7300;
  }
</style>
