---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import JobExperience from "../articles/JobExperience.astro";
import Projects from "../articles/Projects.astro";
import Skills from "../articles/Skills.astro";
import AboutMe from "../articles/AboutMe.astro";
---

<Layout title="Alejandro Montero | Resume">
  <Header />
  <main class="flex flex-col gap-8">
    <AboutMe />
    <JobExperience />
    <Skills />
    <Projects />
  </main>
</Layout>

<style>
  main {
    margin-top: 1rem;
  }
</style>
